{% extends 'home/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}


{% block css %}{%endblock%}



{% block body%}
<div class="page-content bg-white">
    <!-- Slider -->
    <div class="main-slider style-two default-banner" id="home">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <div id="rev_slider_1175_1_wrapper" class="rev_slider_wrapper fullscreen-container"
                    data-alias="duotone192" data-source="gallery" style="background-color:transparent;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
                    <div id="rev_slider_1175_1" class="rev_slider fullscreenbanner" style="display:none;"
                        data-version="5.3.0.2">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-3239" data-transition="fade" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="default" data-thumb="{%static 'images/home_page1.jpg'}" data-rotate="0" data-fstransition="fade"
                                data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"
                                data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
                                data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                                data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{%static 'images/home_page1.jpg'%}" alt=""
                                data-lazyload="{%static 'images/home_page1.jpg'%}" data-bgposition="center center"
                                data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg"
                                data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption   rs-parallaxlevel-4" id="slide-3239-layer-1"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-fontsize="['60','60','40','20']" data-lineheight="['75','70','50','30']"
                                    data-width="['720','640','480','300']" data-height="none" data-whitespace="normal"
                                    data-type="text" data-responsive_offset="off" data-responsive="off"
                                    data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 5; min-width: 720px; max-width: 720px; white-space: normal; font-size: 60px; line-height: 70px;  color: rgba(255, 255, 255, 1.00);font-family:Poppins;border-width:0px; font-weight:600;">
                                    Believe <br /> Achieve Succed <br /> <b>Repeat</b>
                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-3240" data-transition="fade" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="default"
                                data-thumb="{%static 'images/home_page2.jpg'%}" data-rotate="0"
                                data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                                data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                                data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{%static 'images/home_page2.jpg'%}" alt=""
                                    data-lazyload="{%static 'images/home_page2.jpg'%}" data-bgposition="center center"
                                    data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg"
                                    data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption   rs-parallaxlevel-4" id="slide-3239-layer-2"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-fontsize="['60','60','40','20']" data-lineheight="['75','70','50','30']"
                                    data-width="['720','640','480','300']" data-height="none" data-whitespace="normal"
                                    data-type="text" data-responsive_offset="off" data-responsive="off"
                                    data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 5; min-width: 720px; max-width: 720px; white-space: normal; font-size: 60px; line-height: 70px;  color: rgba(255, 255, 255, 1.00);font-family:Poppins;border-width:0px; font-weight:600;">
                                    Good Things <br /> Take Time
                                </div>
                            </li>
                            <!-- SLIDE  -->
                        </ul>
                        <div class="tp-bannertimer" style="height: 8px; background-color: rgba(255, 255, 255, 0.25);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider END -->

    <!-- Projects -->
    <div class="section-full content-inner-2 bg-img-fix overlay-black-dark wow fadeIn" data-wow-duration="2s"
        data-wow-delay="0.8s">
        <div class="container">
            <div class="section-head text-white text-center">
                <h2 class="title">Our Projects</h2>
                <p>Here is the list of all the projects done by us on both ML and different tools for daily use.</p>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div
                        class="img-carousel-dots-nav owl-theme owl-dots-none owl-carousel owl-btn-center-lr owl-btn-3 btn-white">

                        <div class="item">
                            <div class="dlab-box project-bx">
                                <div class="dlab-media radius-sm dlab-img-overlay1  dlab-img-effect zoom">
                                    <a href="javascript:void(0);"><img src="{%static 'images/projects/dummy.jpg'%}"
                                            alt=""></a>
                                </div>
                                <div class="dlab-info">
                                    <h5 class="dlab-title"><a href="javascript:void(0);">No Project Yet</a>
                                    </h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects End -->

    <!--Team--->
    <div class="section-full bg-white content-inner">
        <div class="container">
            <div class="section-head text-black text-center">
                <h2 class="title">Our team</h2>
            </div>
            <div class="row dlab-team10-area">
                <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="dlab-box m-b30 dlab-team10">
                        <div class="dlab-media">
                            <a href="javascript:void(0);">
                                <img alt="" src="{%static 'images/prince.jpeg'%}">
                            </a>
                        </div>
                        <div class="dlab-info">
                            <h4 class="dlab-title"><a href="javascript:void(0);">Prince Mishra</a></h4>
                            <span class="dlab-position">Developer</span>
                            <ul class="dlab-social-icon">
                                <li><a class="site-button fa fa-linkedin linkedin" target="_blank"
                                        href="https://www.linkedin.com/in/prince-mishra-7379101ab/"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="dlab-box m-b30 dlab-team10">
                        <div class="dlab-media">
                            <a href="javascript:void(0);">
                                <img alt="" src="{%static 'images/himanshu.jpeg'%}">
                            </a>
                        </div>
                        <div class="dlab-info">
                            <h4 class="dlab-title"><a href="javascript:void(0);">Parth Saraswat</a></h4>
                            <span class="dlab-position">Developer</span>
                            <ul class="dlab-social-icon">
                                <li><a class="site-button fa fa-linkedin linkedin" target="_blank"
                                        href="https://www.linkedin.com/in/himanshukukreja/"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s"></div>
        </div>
    </div>
    <!--Team End--->
</div>
{%endblock%}



{% block script %}{%endblock%}